* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ddd;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVIGATION */


header {
  margin: 0 auto;
  margin-top: -17px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(252, 80, 112);
  position: sticky;
  position: fixed;
  width: 100vw;
  min-height: fit-content;
  z-index: 1;
}

h1 {
  color: white;
   position: relative;
   padding-left: 35px;
}

.navmain {
  padding-right: 30px;
}

a {
  border-left: 1px solid white;
}



nav > a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

/* MAIN BODY */



/* FOOTER */

footer {
  background-color: rgb(252, 80, 112);
  width: 100vw;
  height: 80px;
 
  color: #ffffff;
  
}

.footer-right {
  width: 12%;
  float: right;
  display: block;
  height: 0%;
  padding-top: 15px;
}

.footer-left {
  width: 47%;
  float: left;
  display: block;
  height: 50px;
  padding-left: 40px;
  padding-top: 15px;
}

a.footer-links {
  border-left:none;
  color:white;
}

a.footer-links1 {
  border-left:none;
  color:white;
}