* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}



/* NAVIGATION */


header {
  margin: 0 auto;
  top: 0;
  margin-top: -17px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(252, 80, 112);
  position: sticky;
  position: fixed;
  width: 100vw;
  min-height: fit-content;
  z-index: 1;
}

h1 {
  color: white;
   position: relative;
   padding-left: 35px;
}

.navmain {
  padding-right: 30px;
}

a {
  border-left: 1px solid white;
}



nav > a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

/* MAIN BODY */

/* GENERAL */

h2 {
  color: white;
}

strong {
  color:rgb(252, 80, 112);
}

/* SECTION mythology */

.tiger-black {
  position: relative;
  text-align: left;
  color: white;
}

.top-left {
  position: absolute;
  bottom: 300px;
  left: 230px;
  text-transform: uppercase; 
}

.bottom-left {
  position: absolute;
  bottom: 365px;
  left: 230px;
}

.wrapper {
  padding-left: 230px;
  padding-right: 230px;
}

/* SECTION lucky */



.container-1 {
  max-width: 69vw;
  
  display: flex;
  flex-direction:row;
  align-items:normal;
  padding-top: 0px;
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  /* border: 2px dashed white; */
  
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.luckyly {
  padding-top: 60px;
  padding-left: 100px;
  
  
  

}

ul {
  color:rgb(252, 80, 112); 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid rgb(252, 80, 112);

  
}

/* SECTION year */

#year {

  padding-top: 70px;
  padding-left: 230px;
  padding-right: 230px;
  padding-bottom: 70px;
  
}



/* FOOTER */

footer {
  background-color: rgb(252, 80, 112);
  width: 100vw;
  height: 80px;
 
  color: #ffffff;
  
}

.footer-right {
  width: 12%;
  float: right;
  display: block;
  height: 0%;
  padding-top: 15px;
}

.footer-left {
  width: 47%;
  float: left;
  display: block;
  height: 50px;
  padding-left: 40px;
  padding-top: 15px;
}

a.footer-links {
  border-left:none;
  color:white;
}

a.footer-links1 {
  border-left:none;
  color:white;
}

@media only screen and (max-width:600px) {
  body {
    width: 100%;
    background-color: blue;
}

header {
  margin: 0 auto;
  margin-top: -17px;
  display: flex;
  flex-direction: column;
  justify-content:left;
 
  background-color: rgb(252, 80, 112);
  position: sticky;
  position: fixed;
  width: 100vw;
  min-height: fit-content;
  z-index: 1;
}
  }
